@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');

$font-family-sans-serif: "Ysabeau";
/*-- scss:defaults --*/

$link-color: #42affa;
$code-block-bg: #f2f5f6;
$code-bg: #eef;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .slide code {
	font-family: monospace;
	font-size: 2rem;
	border-radius: 0.3rem;
  line-height: 1.1em;
}
