/*-- scss:defaults --*/

$link-color: #42affa;
$code-block-bg: #d0d0ee;
$code-bg: #eef;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .slide code {
	font-family: monospace;
	font-size: 2rem;
	border-radius: 0.3rem;
}
